body{
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    background-color: #1f2937;
    color: #a1b3cd;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.input{
    font-size: 30px;
    margin: 20px 0px 0px 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.textInput{
    border: solid  4px rgb(111, 145, 111);
}

.button-wrap{
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap: 64px;
}

.button-selection{
    background-color: rgba(0,0,0,0.3);
    color:#a1b3cd;
    padding: 16px;
    border-radius: 8px;
    border: solid transparent 2px;
}

.button-selection:hover{
    border: solid rgba(255, 255, 0, 0.625) 2px;
    color: rgba(255, 255, 0, 0.625);
    cursor: pointer;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlighted{
    color: rgba(255, 255, 0, 0.625);
}

.draw{
    color: rgb(98, 136, 98);
}

.lost{
    color: red;
}